<app-header></app-header>
<div style="margin-top: 10px;" class="">
  <div class="row">
   <div class="col-md-2 " >
      <div class="card bg-dark text-light" style="height: 600px;">
          <div class="card-header bg-light text-dark">
            <a [routerLink]="['/dashboard']">
              <span><i class="fa fa-compass"></i> Dashboard</span>
            </a>
            </div>
          <div class="card-body">
            
          </div>
        </div>
   </div>
   <div class="col-md-10">
      <div class="card" >
          <div class="card-body">
            <div class="">
             <h5 class="text-primary">INSTRUCTIONS</h5>
            </div>
              <div class="row"  style="padding-top:30px;">
                <div  class="col-md-12">
                  <div class="card bg-light text-dark" >
                   <div class="card-body">
                      <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">First</th>
                              <th scope="col">Last</th>
                              <th scope="col">Handle</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                            </tr>
                          </tbody>
                        </table>
                   </div>
                  </div>
                </div>
                </div>
                <div class="row" style="padding-top:30px;">
                    <div  class="col-md-12">
                      <div class="card bg-light text-dark">
                       <div class="card-body">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">First</th>
                                  <th scope="col">Last</th>
                                  <th scope="col">Handle</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Mark</td>
                                  <td>Otto</td>
                                  <td>@mdo</td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>Jacob</td>
                                  <td>Thornton</td>
                                  <td>@fat</td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td>Larry</td>
                                  <td>the Bird</td>
                                  <td>@twitter</td>
                                </tr>
                              </tbody>
                            </table>
                       </div>
                      </div>
                    </div>
                    </div>
          </div>
        </div>
    </div>
  </div>
</div>