<app-header></app-header>
 <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <p>Title</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                </li>
            </ul>
        </nav>
       
        <!-- Page Content Holder -->
        <div id="content">
            
        </div>
    </div>