.overlay {
    position:absolute;
   display:none; 

   /* color with alpha transparency */
   background-color: transparent;

   /* stretch to screen edges */
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    width:50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
}

.fab {
    display: inline-block;
    position: relative;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
  /*  line-height: 60px;*/
    text-align: center;
    font-size: 20px;
    z-index: 999;
    background: #eee;
    color: #336699;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transition: 0.2s opacity ease-in-out;
    -webkit-transition: 0.2s opacity ease-in-out;
    border: 0;
    overflow: hidden; }
  
  .fab:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    background: #aaa;
    border-radius: 100%;
    opacity: .6;
    transform: scale(0); }
  
  @keyframes ripple {
    0% {
      transform: scale(0); }
    20% {
      transform: scale(1); }
    100% {
      opacity: 0;
      transform: scale(1); } }
  
  .fab:not(:active):after {
    animation: ripple 3s ease-out; }
  
  /* fixes initial animation run, without user input, on page load.
   */
  .fab:after {
    visibility: hidden; }
  
  .fab:focus:after {
    visibility: visible; }
  
  .fab.fab-light {
    color: #fff;
    background: #fff; }
  
  .fab.fab-stable {
    color: #fff;
    background: #f8f8f8; }
  
  .fab.fab-positive {
    color: #fff;
    background: #1b69a2; }
  
  .fab.fab-calm {
    color: #444;
    background: #fff; }
  
  .fab.fab-assertive {
    color: #fff;
    background: #bf1e2e; }
  
  .fab.fab-balanced {
    color: #fff;
    background: #33cd5f; }
  
  .fab.fab-energized {
    color: #fff;
    background: #ffc900; }
  
  .fab.fab-royal {
    color: #fff;
    background: #886aea; }
  
  .fab.fab-dark {
    color: #fff;
    background: #444; }
  
  /*----------------*/
  .fab.fab-light:after {
    background: #e6e6e6; }
  
  .fab.fab-stable:after {
    background: #dfdfdf; }
  
  .fab.fab-positive:after {
    background: #144d76; }
  
  .fab.fab-calm:after {
    background: #0a9dc7; }
  
  .fab.fab-assertive:after {
    background: #931723; }
  
  .fab.fab-balanced:after {
    background: #28a54c; }
  
  .fab.fab-energized:after {
    background: #cca100; }
  
  .fab.fab-royal:after {
    background: #643de4; }
  
  .fab.fab-dark:after {
    background: #2b2b2b; }
