
<div class="container">
    <div class="row">
      <div class="col-sm-2">
        <app-sidenav></app-sidenav>
      </div>
      <div class="col-sm-10 text-center">
        <div class="">
          <h1>Preview Final Files</h1>
          <p>Preview the final print-ready files for your book</p>
         <div class="card cardbox bg-default">
            <h5 class="">Finished Files</h5>
          <div class="card-body">
            <div class="row">
             <div class="col-sm-6 col-12 col-lg-6 ">
              <p class="float-left">Cover Design</p>
             </div>
             <div class="col-sm-6 col-12 col-lg-6">
                <a class="float-left text-danger">: Preview</a>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-12 col-lg-6 ">
                 <p class="float-left">Published Date</p>
                </div>
                <div class="col-sm-6 col-12 col-lg-6">
                   <a class=" text-dark">: {{date}}</a>
                 </div>
               </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>