<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light  sticky-top header">
        <a class="navbar-brand text-dark" ><span class="sidebar-nav-mini-hide"><i class="fa fa-cube"></i> Evoque<strong>Demo</strong></span></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            
            <ul class="navbar-nav mr-auto">
          
                <!-- <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Features</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                </li> -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" >Action</a>
                      <a class="dropdown-item" >Another action</a>
                      <a class="dropdown-item" >Something else here</a>
                    </div>
                  </li> -->
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
              </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <div class="inset">
                    <img src="http://rs775.pbsrc.com/albums/yy35/PhoenyxStar/link-1.jpg~c200">
                  </div>
                </li>
              </ul>
        </div>
      </nav>
</header>
