<div class="container">
    <div class="row">
      <div class="col-sm-2">
          <app-sidenav [titleInfo]="true"  [coverDesign]="true"  [sendReview]="srparam"  [finish]="false"></app-sidenav>
        </div>
      <div class="col-sm-10 ">
        <h2>Send for Review</h2>
         <p>Enter all the information about the book-It's title,author(s) and description Enter all the information about the book-It's title,author(s) and description</p>
         <div class="row">
           <div class="col-sm-6">
             <div class="row" id="title">
               <div class="col-sm-10">
                 <h6>Title Information</h6>
               </div>
               <div class="col-sm-2">
                 <a [routerLink]="['/titleinformation']">Edit</a>
               </div>
             </div>
             <div class="row">
              <div class="col-sm-4">
                <span>Book Title</span>
              </div>
              <div class="col-sm-1">
                <strong>:</strong>
              </div>
              <div class="col-sm-5">
                <span>{{bookTitle}}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <span>Subtitle</span>
              </div>
              <div class="col-sm-1">
                <strong>:</strong>
              </div>
              <div class="col-sm-5">
                <span>{{bookSubtitle}}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <span>Author Name</span>
              </div>
              <div class="col-sm-1">
                <strong>:</strong>
              </div>
              <div class="col-sm-5">
                <span>{{bookAuthorName}}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <span>Category</span>
              </div>
              <div class="col-sm-1">
                <strong>:</strong>
              </div>
              <div class="col-sm-5">
                <span>{{bookCategory}}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <span>Language</span>
              </div>
              <div class="col-sm-1">
                <strong>:</strong>
              </div>
              <div class="col-sm-5">
                <span>{{bookLang}}</span>
              </div>
            </div>

           </div>

           <div class="col-sm-6">
            <div class="row" id="title">
              <div class="col-sm-10">
                <h6>Cover Design</h6>
              </div>
              <div class="col-sm-2">
                <a>Edit</a>
              </div>
            </div>

           <div class="row">
             <div class="col-sm-6">
               <span>Review Cover Design</span>
             </div>
             <div class="col-sm-1">
               <strong>:</strong>
             </div>
             <div class="col-sm-5">
               <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Review</button>
             </div>
           </div>

          </div>

         </div>
         <h6 id="checking">EvoqueDemo Publishing Agreement</h6>
         <input type="checkbox" checked="checked" name="radio">I have  reviewed the interior and cover files
         and agree to the <span id="check">EvoqueDemo Publishing Agreement</span><br>
         <div class="text-center">
        <button type="button" class="btn btn-danger " id="submit" routerLink="/finished">SUBMIT FOR REVIEW</button>
      </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>