<div class="container">
    <div class="row">
      <div class="col-sm-2">
          <app-sidenav [titleInfo]="true"  [coverDesign]="true"  [sendReview]="srparam"  [finish]="false"></app-sidenav>
        </div>
      <div class="col-sm-10 ">
        <h2>Send for Review</h2>
         <p>Enter all the information about the book-It's title,author(s) and description Enter all the information about the book-It's title,author(s) and description</p>
         <div class="row">
           <div class="col-sm-6">
             <div class="row" id="title">
               <div class="col-sm-10">
                 <h6>Title Information</h6>
               </div>
               <div class="col-sm-2">
                 <a>Edit</a>
               </div>
             </div>
             <div class="row">
              <div class="col-sm-4">
                <span>Book Title</span>
              </div>
              <div class="col-sm-1">
                <strong>:</strong>
              </div>
              <div class="col-sm-5">
                <span>Sense and Sensibility</span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <span>Subtitle</span>
              </div>
              <div class="col-sm-1">
                <strong>:</strong>
              </div>
              <div class="col-sm-5">
                <span></span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <span>Author Name</span>
              </div>
              <div class="col-sm-1">
                <strong>:</strong>
              </div>
              <div class="col-sm-5">
                <span>Jane Asten</span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <span>Category</span>
              </div>
              <div class="col-sm-1">
                <strong>:</strong>
              </div>
              <div class="col-sm-5">
                <span>Fiction/Clasics</span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <span>Language</span>
              </div>
              <div class="col-sm-1">
                <strong>:</strong>
              </div>
              <div class="col-sm-5">
                <span>English</span>
              </div>
            </div>

           </div>

           <div class="col-sm-6">
            <div class="row" id="title">
              <div class="col-sm-10">
                <h6>Cover Design</h6>
              </div>
              <div class="col-sm-2">
                <a>Edit</a>
              </div>
            </div>

           <div class="row">
             <div class="col-sm-6">
               <span>Review Cover Design</span>
             </div>
             <div class="col-sm-1">
               <strong>:</strong>
             </div>
             <div class="col-sm-5">
               <button type="button" class="btn btn-danger ">Review</button>
             </div>
           </div>

          </div>

         </div>
         <h6 id="checking">EvoqueDemo Publishing Agreement</h6>
         <input type="checkbox" checked="checked" name="radio">I have  reviewed the interior and cover files
         and agree to the <span id="check">EvoqueDemo Publishing Agreement</span><br>
         <div class="text-center">
        <button type="button" class="btn btn-danger " id="submit">SUBMIT FOR REVIEW</button>
      </div>
      </div>
    </div>
  </div>
