
<div class="container">
    <div class="row">
      <div class="col-sm-2">
        <app-sidenav></app-sidenav>
      </div>
      <div class="col-sm-10 text-center">
         <h2>Title Information</h2>
         <span>Enter all the information about the book-It's title,author(s) and description</span>
         <h6>Book Title</h6>
         <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), 
          choose the kind of snip you want, and then select the area of the screen capture that you want.</p>
          <input type="text" class="form-control" placeholder="Enter your Book Title">
          <h6>Book Description</h6>
          <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), 
          choose the kind of snip you want, and then select the area of the screen capture that you want.</p>
          <textarea type="text" class="form-control" placeholder="Enter text lessthan 1500 characters"></textarea>
          <h6>Subtitle</h6>
          <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), 
          choose the kind of snip you want, and then select the area of the screen capture that you want.</p>
          <input type="text" class="form-control" placeholder="Enter Book Subtitle">
          <h6>Author Name<strong style="color: red">*</strong></h6>
          <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), 
          choose the kind of snip you want, and then select the area of the screen capture that you want.</p>
          <input type="text" class="form-control" placeholder="Enter full Name ">
          <h6>Add Contributors</h6>
          <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. </p>
          <label class="container">
              <input type="checkbox" checked="checked" name="radio">Illustrator
              <input type="checkbox" name="radio">Editor
              <input type="checkbox" name="radio">Co-author
              <button type="button" class="btn btn-danger">Add</button>
          </label>
          <h6>Add Keywords</h6>
          <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), 
          choose the kind of snip you want, and then select the area of the screen capture that you want.</p>
          <input type="text" class="form-control" placeholder="Keyword1,Keyword2">
          <h6>Author Biography<strong style="color: red">*</strong></h6>
          <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), 
          choose the kind of snip you want, and then select the area of the screen capture that you want.</p>
          <textarea type="text" class="form-control" placeholder="Enter text lessthan 2500 characters"></textarea>
          <h6>Category<strong style="color: red">*</strong></h6>
          <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), </p>
          <div class="row">
           <div class="collg-6 col-sm-6 col-12">
            <select class="form-control">
              <option value="">Select</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
           </div>
          </div>
          
          <h6>Language<strong style="color: red">*</strong></h6>
          <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), </p>
          <div class="row">
              <div class="collg-6 col-sm-6 col-12">
               <select class="form-control">
                 <option value="">Select</option>
                 <option value="English">English</option>
                 <option value="Hindi">Hindi</option>
                 <option value="French">French</option>
                 <option value="Spanish">Spanish</option>
               </select>
              </div>
             </div>
             <div class="form-group">
          <h6>Audience<strong style="color: red">*</strong></h6>
          <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), </p>
          <div class="row">
              <div class="collg-6 col-sm-6 col-12">
               <select class="form-control">
                 <option value="">Select</option>
                 <option value="Kids">Kids</option>
                 <option value="Teenage">Teenage</option>
                 <option value="Adult">Adult</option>
               </select>
              </div>
             </div>
            </div>
              <button type="button" class="btn btn-danger ">Save and Continue</button>
          
         
      </div>
    </div>
  </div>