
<div class="container">
    <div class="row">
      <div class="col-sm-2">
          <app-sidenav [titleInfo]="titleInfoparam"  [coverDesign]="false"  [sendReview]="false"  [finish]="false"></app-sidenav>
      </div>
      <div class="col-sm-10">
         <h2 class="text-center">Title Information</h2>
         <div class="text-center">
          <span class="text-center">Enter all the information about the book-It's title,author(s) and description</span>
        </div>
         
        <div class="step1" *ngIf="step1">
          <div class="card">
              <div class="card-body">
                  <h3 class="text-center text-info">Step1</h3>
                  <h6>Book Title</h6>
                  <p>Please Enter or select these books only(Rich Dad & Poor Dad , The Alchemist , Half Girlfriend , The 4 hour work week ,
                        Think & Grow Rich ,The Art of war , E-Myth , Good to Great , 7 habits of highly Effective People ,How to win Friends and Infulence people).</p>
                   <input  id="bookTitle" class="form-control" placeholder="Enter your Book Title" [(ngModel)]="bookTitle" autofocus="autofocus" (change)="booktitlechange()">
                   <!-- <datalist id="books">
                      <option value="Rich Dad & Poor Dad">
                      <option value="The Alchemist">
                      <option value="ZERO to ONE">
                      <option value="The 4 hour work week">
                      <option value="Think & Grow Rich">
                      <option value="The Art of war">
                      <option value="E-Myth">
                      <option value="Good to Great">
                      <option value="7 habits of highly Effective People">
                      <option value="How to win Friends and Infulence people">
                   </datalist>  -->
                   <h6>Book Description</h6>
                   <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), 
                   choose the kind of snip you want, and then select the area of the screen capture that you want.</p>
                   <textarea type="text" id="titleDescriptionField" class="form-control" disabled placeholder="Enter text lessthan 1500 characters"  [(ngModel)]="bookDescription"></textarea>
                   <h6>Subtitle</h6>
                   <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), 
                   choose the kind of snip you want, and then select the area of the screen capture that you want.</p>
                   <input type="text" class="form-control" placeholder="Enter Book Subtitle" [(ngModel)]="bookSubtitle">
                   <br>
                   <div class="text-center">
                          <button class="btn btn-sm btn-info" (click)="next(1)">Next</button>
                    </div>
              </div> 
          </div> 
        </div>
         <div class="step2" *ngIf="step2">
            <div class="card">
                <div class="card-body">
            <h3 class="text-center text-info">Step2</h3>
             <h6>Author Name<strong style="color: red">*</strong></h6>
             <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), 
             choose the kind of snip you want, and then select the area of the screen capture that you want.</p>
             <input type="text" class="form-control" placeholder="Enter full Name " id="authorNameField" [(ngModel)]="bookAuthorName">
            <!-- <h6>Add Contributors</h6>
            <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. </p>
            <label class="container">
                <input type="checkbox"disabled name="radio">Illustrator
                <input type="checkbox" disabled name="radio">Editor
                <input type="checkbox" disabled name="radio">Co-author
                <button type="button" disabled class="btn btn-sm btn-danger">Add</button>
            </label>
            <h6>Add Keywords</h6>
            <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), 
            choose the kind of snip you want, and then select the area of the screen capture that you want.</p>
            <input type="text" class="form-control" placeholder="Keyword1,Keyword2"  disabled [(ngModel)]="bookKeywords"> -->
            <h6>Author Biography<strong style="color: red">*</strong></h6>
            <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), 
            choose the kind of snip you want, and then select the area of the screen capture that you want.</p>
            <textarea type="text" class="form-control" placeholder="Enter text lessthan 2500 characters" id="authorBioField" [(ngModel)]="authorBiography"></textarea>
            <br>
            <div class="row text-center">
              <div class="col-sm-6">
                  <button class="btn btn-sm btn-info" (click)="previous(1);">Previous</button>
              </div>
              <div class="col-sm-6">
                  <button class="btn btn-sm btn-info " (click)="next(2)">Next</button>
               </div>
            </div>
            </div>
          </div>
         </div>
          <div class="step3" *ngIf="step3">
              <h3 class="text-center text-info">Step3</h3>
              <div class="card">
                  <div class="card-body">
              <h6>Category<strong style="color: red">*</strong></h6>
              <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), </p>
              <div class="row">
               <div class="collg-6 col-sm-6 col-12">
                   <input class="form-control" id="categoryField" [(ngModel)]="bookCategory" autofocus="autofocus"/>
                <!-- <select class="form-control" [(ngModel)]="bookCategory">
                  <option value="">Select</option>
                  <option value="{{itemCategory}" *ngFor="let itemCategory of bookCategoryArray">{{itemCategory}}</option>
                </select> -->
               </div>
              </div>
              
              <h6>Language<strong style="color: red">*</strong></h6>
              <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), </p>
              <div class="row">
                  <div class="col-lg-6 col-sm-6 col-12">
                      <input class="form-control" id="langField" autofocus="autofocus" [(ngModel)]="bookLang"/>
                   <!-- <select class="form-control" >
                     <option value="">Select</option>
                     <option value="English">English</option>
                   </select> -->
                  </div>
                 </div>
                 <div class="form-group">
              <h6>Audience<strong style="color: red">*</strong></h6>
              <p>press the Esc key before opening the menu.) Press Ctrl + PrtScn keys. This captures the entire screen, including the open menu. Select Mode (in older versions, select the arrow next to the New button), </p>
              <div class="row">
                  <div class="collg-6 col-sm-6 col-12">
                      <input  class="form-control"  [(ngModel)]="bookAudience" id="audienceField" />
                  </div>
                 </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <button class="btn btn-sm btn-info " (click)="previous(2);">Previous</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button"  class="btn btn-sm btn-success" (click)="submit()">Save</button>
                     </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>